* {
    font-family: 'Poppins', sans-serif;

}
header {
    background-color: black;
    color: #eb8d07;
    height: 10vh;
  
}

/* Primera interdaz // Primera Parte */

.primera-interfaz {
    /* padding-top: 50px; */
  
    height: auto;
    background-image: url(img/casa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 3vh;
  
    
}

.primera-interfaz-cont {
    /* margin-top: 3vh; */
    margin: auto;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.4) ;
    /* height: 80vh; */
    
}

.primera-interfaz-cont  h2 {
    font-weight: 900;
    font-size: 6vh;
    color: black;

}

.primera-interfaz-cont button {
    background-color:#eb8d07;
    color: white;
    
}

.primera-interfaz-cont p {
    color: black;
    font-size: 24px;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 300;
}


/* Segunda parte */

.segunda-parte, .cuarta-parte {

        height: 100vh;
        background-color: #eb8d07;
}


/* Tercera parte */
.tercera-parte {
    height: 100vh;
 background-color: #474747;
}