* {
    font-family: 'Poppins', sans-serif;
  
}

header {
    background-color: black;
   
    

  
}

#navbarSupportedContent a {
    transition: 0.1s;
}
#navbarSupportedContent a:hover {
    
  box-shadow: inset 0px -2px 0px 0px #eb8d07;
  transition: 0.1s;
    
}

nav {
    height: 76px;
}

/* .navbar-toggler {
    background-color: #eb8d07;
} */

/* Primera interdaz // Primera Parte */

.primera-interfaz {
    /* padding-top: 50px; */
  
    height: auto;
    background-image: url(img/portada1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 3vh;
  
    
}

.primera-interfaz-cont {
    /* margin-top: 3vh; */
    
    
    margin: auto;
    text-align: center;
    background-color: rgba(225, 225, 225, 0.4) ;
    /* height: 80vh; */
    border-radius: 8px;
    
}

.primera-interfaz-cont  h2 {
    
    font-weight:  900;
    
    font-size: 2rem;
    color: black;
    padding-top: 8vh;
    padding-bottom: 5vh;

}

.primera-interfaz-cont button {
    background-color:#eb8d07;
    color: white;
    
}

.primera-interfaz-cont p {
    margin: auto;
    padding: 1vh;
    font-weight: 400; 
    color: black;
    font-size: 24px;
    text-shadow: black 0.5em 0.5em 0.9em;
}
.primera-interfaz-pie  {
    font-weight: 600;
}

.primera-interfaz-pie span {
    color: #eb8d07;
    font-weight: bold;
}

/* Segunda parte */

.segunda-parte {

        height: auto;

}
.segunda-parte p {
    color: #474747;
}


#ventajas-parrafo {
    background-color: #eb8d07;
    height: 5vh;
    color: white;
    font-weight: 500;
    font-size: 30px;

}
/* 
.titulo-segunda-parte {
    font-size: ;
} */

/* .contenedor-imagenes-steelframe {
    

} */

.borde-caja{
    border: 1px solid black;
    border-radius: 10px;
    /* max-width: 60%; */
   
    
   
}

/* Tercera parte */


.tercera-parte {
    background-color: #474747;
    color: #c8d0d3;
}

#carouselExampleSlidesOnly {
    margin: 0;
    border-top: 10px solid #eb8d07;
    border-bottom: 10px solid #eb8d07;
}

/* Quinta Parte  */

footer {
    background-color: #474747;

}
.derechos{
    background-color: #050033;
    color: #3c587d;

}
.derechos #sitioWeb {
    color: white;
}