* 
{
    font-family: 'Poppins', sans-serif; 
}

header
{
    background-color: black;
}

#navbarSupportedContent{
    color: white;
    padding-right: 20px;

    
 
}
#navbarSupportedContent a 
{
    
    transition: 0.1s;
    color: white;
    
}
#navbarSupportedContent a:hover
{    
  box-shadow: inset 0px -2px 0px 0px #eb8d07;
  transition: 0.1s;  
}

nav
{
    height: 76px;
    box-sizing: border-box;
}


/* .navbar-toggler {
    background-color: #eb8d07;
} */

/* Primera interdaz // Primera Parte */

.contenedor-primera-interfaz {
    margin-bottom: 100px;
}

.primera-interfaz-escritorio
{
    
    height: 70vh;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5); */
}

 .primera-interfaz-escritorio img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background: no-repeat;
    background-position: center center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.primera-interfaz
 {
    /* padding-top: 50px; */
    height: auto;
    background-image: url(img/portada1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 3vh;
}

.primera-interfaz-cont 
{
    position: relative;
    z-index: 1;
    /* margin-top: 3vh; */
    height: auto;
    
    text-align: center;
    background-color: rgba(225, 225, 225, 0.6) ;
   
    border-radius: 8px;
}

.primera-interfaz-cont  h2, .primera-interfaz-escritorio h2 
{
    font-weight:  900;
    font-size: 2rem;
    color: black;
    padding-top: 8vh;
    
    /* padding-bottom: 5vh; */
}


.primera-interfaz-cont button , .primera-interfaz-escritorio button
{
    background-color:#eb8d07;
    color: white;
}

.primera-interfaz-cont p, .primera-interfaz-escritorio p
{
    margin: auto;
    padding: 1vh;
    font-weight: medium; 
    color: black;
    font-size: 30px;
    text-shadow: black 0.5em 0.5em 0.9em;
}
.escritorio {
    padding-left: 150px;
    padding-right: 150px;
   
}
.escritorio  h2 {
    padding-top: 25px!important;
}
.escritorio button, .boton {
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 50px!important;
}

.primera-interfaz-pie  
{
    font-weight: 600;
    font-size: 20px;  
    margin-bottom: 100px;
}

.primera-interfaz-pie span {
    color: #eb8d07;
    font-weight: bold;
    font-size: 24px;

}
.primera-interfaz-pie a {
    font-weight: 500;
    text-decoration: none;
    color: #474747;
    transition: 1s;
}
.primera-interfaz-pi p {
    padding: 0;
    margin: 0;
}

#crear-sol
{
    
    font-size: 24px;   
    color: black;
}

/* Segunda parte */

.segunda-parte {
    
    height: auto;
    
}
.segunda-parte p {
    color: #474747;
}


#ventajas-parrafo {
    background-color: #eb8d07;
    height: 5vh;
    color: white;
    font-weight: 600;
    font-size: 3vh;
    
}
.segunda-parte-bis {
    height: 38px;
    width: 50%;
    background-color: #eb8d07;
    border-top-right-radius: 100px 100px;
    border-bottom-right-radius:  100px 100px;
    
    
    
    
    
}
.contenedor-imagenes-steelframe
{

    box-sizing: border-box;
    padding-left: 3vh;
    padding-right: 3vh;
}

#sist-eifs {
    color: black;
    font-weight: 600;
    padding-top: 5px;
    padding-right: 4px;
 
 
 
}
.titulo-segunda-parte {
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.steel-escritorio {
    color: black;
    font-weight: bold;
    font-size: 24px;
    
} 

.steel-responsivo {
    color: #eb8d07;
    font-weight: bold;
}



.borde-caja{
    border: 2px solid black;
    border-radius: 10px;
    /* max-width: 60%; */
   
    
   
}


/* .imagenes-eifs img{
    


   
} */
.imagenes-eifs p {
    box-shadow: inset 2px 0px 0px 0px #eb8d07;
    padding: 10px;
    color: #474747;
    font-size: 20px;
    font-weight: 500;
    
}

/* Tercera parte */


.tercera-parte {
  
    background-color: #474747;
    color: #c8d0d3;
    padding-bottom: 1px;
    margin-top: 50px;
}
.borde-dos {
    border: 4px solid #eb8d07;
    border-radius: 20px;
    margin-bottom: 10;
}

.tercera-parte p {
    padding: 10px;
}

#carouselExampleSlidesOnly {
    margin: 0;
    border-top: 10px solid #eb8d07;
    border-bottom: 10px solid #eb8d07;
}

/* Cuarta parte */
.cuarta-parte h2 {
    font-size: 32px;
    color: #eb8d07;
    font-weight: 600;
}

.cuarta-parte-etapas li {

    margin: 10px;
    font-size: 18px;
    font-weight: 500;
}
.cuarta-parte-etapas li:hover{
    color: white;
}

.imgnormalizada img {
  
    width: auto;
    height: 350px;
    max-height: 350px;
    
}
.borderRadius {
    border-radius: 10px;
}

.cuarta-parte-explorar{
    margin-top: 50px;
    height: 80vh;
}

.cuarta-parte-explorar p {
    font-size: 24px;
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
    color: black;
}

/* Quinta Parte  */

.contenedor-social {
    padding-top: 30px;
    color: #c8d0d3!important;
   
   
}


footer {
    background-color: #474747;
    color: white;
    font-weight: 500;
    /* outline: none; */
    

}

footer a{
    color: #c8d0d3;
    font-weight: 500;
    border-bottom: solid 1px #c8d0d3;
    text-decoration: none;
    
}
footer a:hover {
   
    color: white;
    border-bottom: solid 1px #eb8d07;
}



footer .icono-footer {
    /* padding-right: 8px; */
    height: auto;
    width: auto;
    border-radius: 10px;
    background-color: white;
}


footer h2 {
    
    color: #eb8d07;
    padding-left: 5px;
    /* text-shadow: black 0 0.1em 5px; */
    text-shadow: 0 1px 0.1ch black;
    font-weight: 600;
}


#derechos {
	background-color: #050033;
	padding: 0;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;

}

#derechos p {
	margin: 0;
	text-align: center;
	color: #426184;
	font-size: 15px;
}

#derechos p span {
	color: white;
}

#derechos p a {
	color: #426184;
}

#derechos p a img {
	width: 20px;
	margin-top: 4px;
}
/* Mobile */






/* Animaciones */

.enlaces:hover {
    color: #eb8d07;
    
    transition: 0.2s;
}




@media (max-width: 450px) {
    .cuarta-parte-etapas #lista-color   {
        color: #474747;
    }
    .cuarta-parte-etapas ul .lista-blanca  {
        color: white;
    }
    #proyectos-servicios {
        text-decoration: underline black; 
    }
    .primera-interfaz-cont p {
        font-size: 22px;
        padding: 3px;
    }
    .primera-interfaz-cont button {
  
        margin-top: 10px;
    }
    .hamburguesa {
        width: 100vw;

        background-color: black;
        z-index: 3;
    }
    .imagenes-eifs p {
        box-shadow: none;
        text-align: center;
       
    }
    .parrafo-eifs {
        text-align: start!important;
    }
}